<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{35} - %msg%n"/>
        </Console>

        <RollingFile name="AppLog" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM-dd}/app-%d{yyyy-MM-dd-HH-mm}-%i.log"
                     append="true"
                     immediateFlush="true"
                     createOnDemand="false">
            <PatternLayout pattern="%d [%t] %p %c{1.} - %m%n"/>
            <Policies>
                <CronTriggeringPolicy schedule="* * 1 * * ?"/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <File name="InputOk" fileName="logs/input_ok.log"
              append="true"
              immediateFlush="true"
              createOnDemand="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <MarkerFilter marker="INPUT_OK" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="InputError" fileName="logs/input_error.log"
              append="true"
              immediateFlush="true"
              createOnDemand="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <MarkerFilter marker="INPUT_ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="Exception" fileName="logs/exception.log"
              append="true"
              immediateFlush="true"
              createOnDemand="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </appenders>

    <loggers>
        <root level="ALL">
            <appender-ref ref="Console" level="ERROR"/>
            <appender-ref ref="AppLog" level="INFO"/>
            <appender-ref ref="InputOk" level="INFO"/>
            <appender-ref ref="InputError" level="INFO"/>
            <appender-ref ref="Exception" level="ERROR"/>
        </root>
    </loggers>

</configuration>